.mcq-select-container {
    padding: 5px;
    width: 100%;

    .input-radio{
        cursor: default;
    }

    .save-btn-container{
        height: 3vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;

        h4 {
            border-width: 1px;
            border-radius: 5px;
            border-style: solid;

            padding: 1px;
            padding-inline: 8px;
            
            text-align: center;
            cursor: pointer;

            transition: 0.25s;

            &:hover{
                color: red;
            }
        }
    }
}
